.blue {
  background: $sky !important;
}

.orange {
  background: $tangerine !important;
}

.green {
  background: $leaf !important;
}

.yellow {
  background: $mustard !important;
}

.charcoal {
  background: $charcoal !important;
}
