<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Foundation</title>
    <link rel="stylesheet" href="../css/oidp.css" />
    <link rel="stylesheet" href="../css/roboto.css" />
    <link rel="stylesheet" href="../css/foundation-icons.css" />
    <script src="bower_components/modernizr/modernizr.js"></script>
  </head>
  <body>
    <div class="sticky">
      <nav class="top-bar" data-topbar role="navigation" data-options="sticky_on: large">
        <ul class="title-area">
          <li class="name">
            <h1><a href="#">OIDP</a></h1>
          </li>
          <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
        </ul>

        <section class="top-bar-section">
          <ul class="right">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#">Schedule</a></li>
            <li><a href="#">Speakers</a></li>
            <li><a href="#">Presentations</a></li>
            <li class="has-dropdown">
              <a href="#">Language</a>
              <ul class="dropdown">
                <li><a href="#">Français</a></li>
                <li class="active"><a href="#">English</a></li>
                <li><a href="#">Espanol</a></li>
                <li><a href="#">Português</a></li>
              </ul>
            </li>
          </ul>
        </section>
      </nav>
    </div>

    <div class="row l-gallery">
      <div class="gallery-item large-3 medium-6 small-12 columns">
        <img src="http://placehold.it/500x500">
      </div>
      <div class="gallery-item large-3 medium-6 small-12 columns">
        <img src="http://placehold.it/500x500">
      </div>
      <div class="gallery-item large-3 medium-6 small-12 columns">
        <img src="http://placehold.it/500x500">
      </div>
      <div class="gallery-item large-3 medium-6 small-12 columns">
        <img src="http://placehold.it/500x500">
      </div>
      <div class="gallery-item large-3 medium-6 small-12 columns">
        <img src="http://placehold.it/500x500">
      </div>
      <div class="gallery-item large-3 medium-6 small-12 columns">
        <img src="http://placehold.it/500x500">
      </div>
      <div class="gallery-item large-3 medium-6 small-12 columns">
        <img src="http://placehold.it/500x500">
      </div>
      <div class="gallery-item large-3 medium-6 small-12 columns">
        <img src="http://placehold.it/500x500">
      </div>
      <div class="gallery-item large-3 medium-6 small-12 columns end">
        <img src="http://placehold.it/500x500">
      </div>
    </div>

    <footer class="row">
      <hr />
      <div class="large-8 columns">
        <section class="section">
          <h5>S'insicrire à l'infolettre</h5>
          <div class="content" data-slug="panel1">
            <form>
              <div class="row collapse">
                <div>
                  <label class="inline" style="display:none">Nom</label>
                </div>
                <div class="large-12 columns">
                  <input type="text" id="yourName" placeholder="Nom">
                </div>
              </div>
              <div class="row collapse">
                <div>
                  <label class="inline" style="display:none">Adresse courriel</label>
                </div>
                <div class="large-12 columns">
                  <input type="text" id="yourEmail" placeholder="Adresse courriel">
                </div>
              </div>
              <button type="submit" class="radius button">S'inscrire</button>
            </form>
          </div>
        </section>
      </div>
      <div class="large-4 columns">
        <p>Office de consultation publique de Montréal</p>
        <p>1550, rue Metcalfe – Bureau 1414</p>
        <p>Montréal (Québec) H3A 1X6</p>
        <p>Téléphone : 514 872-3568</p>
        <p>Station de métro Peel</p>
      </div>
    </footer>

    <script src="bower_components/jquery/dist/jquery-1.8.0.min.js"></script>
    <script src="bower_components/foundation/js/foundation.min.js"></script>
    <script src="js/app.js"></script>
  </body>
</html>
