<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Foundation</title>
    <link rel="stylesheet" href="../css/oidp.css" />
    <link rel="stylesheet" href="../css/roboto.css" />
    <link rel="stylesheet" href="../css/foundation-icons.css" />
    <script src="bower_components/modernizr/modernizr.js"></script>
  </head>
  <body>
    <div class="sticky">
      <nav class="top-bar" data-topbar role="navigation" data-options="sticky_on: large">
        <ul class="title-area">
          <li class="name">
            <h1><a href="#">OIDP</a></h1>
          </li>
          <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
        </ul>

        <section class="top-bar-section">
          <ul class="right">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#">Schedule</a></li>
            <li><a href="#">Speakers</a></li>
            <li><a href="#">Presentations</a></li>
            <li class="has-dropdown">
              <a href="#">Language</a>
              <ul class="dropdown">
                <li><a href="#">Français</a></li>
                <li class="active"><a href="#">English</a></li>
                <li><a href="#">Espanol</a></li>
                <li><a href="#">Português</a></li>
              </ul>
            </li>
          </ul>
        </section>
      </nav>
    </div>

    <div class="row">
      <h1>Schedule</h1>
      <div class="text-center">
        <a href="#" class="button round">Download schedule PDF</a>
        <br>
      </div>
    </div>

    <div class="row">
      <ul class="tabs" data-tab>
        <li class="tab-title active"><a href="#panel1">April 4</a></li>
        <li class="tab-title"><a href="#panel2">April 5</a></li>
      </ul>
      <div class="tabs-content">
        <div class="content active" id="panel1">
          <div class="row">
            <div class="small-2 columns">
              <p><strong>8h30-9h30</strong></p>
            </div>
            <div class="small-6 columns">
              <h5>Official opening of the Conference</h5>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
            <div class="small-4 columns">
              <p><strong>John Doe:</strong> Secretary General of IOPD</p>
            </div>
            <hr>
          </div>
          <div class="row">
            <div class="small-2 columns">
              <p><strong>8h30-9h30</strong></p>
            </div>
            <div class="small-6 columns">
              <h5>Official opening of the Conference</h5>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
            <div class="small-4 columns">
              <p><strong>John Doe:</strong> Secretary General of IOPD</p>
            </div>
            <hr>
          </div>
          <div class="row">
            <div class="small-2 columns">
              <p><strong>8h30-9h30</strong></p>
            </div>
            <div class="small-6 columns">
              <h5>Official opening of the Conference</h5>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
            <div class="small-4 columns">
              <p><strong>John Doe:</strong> Secretary General of IOPD</p>
            </div>
            <hr>
          </div>
          <div class="row">
            <div class="small-2 columns">
              <p><strong>17h30-18h00</strong></p>
            </div>
            <div class="small-6 columns">
              <h5>Official closing of the Conference</h5>
              <p>Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
            </div>
            <div class="small-4 columns">
              <p><strong>John Doe:</strong> Secretary General of IOPD</p>
            </div>
            <div class="small-4 columns">
              <p><strong>John Doe:</strong> Secretary General of Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
            </div>
          </div>
        </div>
        <div class="content" id="panel2">
          <div class="row">
            <div class="small-2 columns">
              <p><strong>8h00-9h00</strong></p>
            </div>
            <div class="small-6 columns">
              <h5>Official opening of the Conference</h5>
              <p>Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
            </div>
            <div class="small-4 columns">
              <p><strong>John Doe:</strong> Secretary General of IOPD</p>
            </div>
            <hr>
          </div>
          <div class="row">
            <div class="small-2 columns">
              <p><strong>8h30-9h30</strong></p>
            </div>
            <div class="small-6 columns">
              <h5>Official opening of the Conference</h5>
              <p>Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
            </div>
            <div class="small-4 columns">
              <p><strong>John Doe:</strong> Secretary General of IOPD</p>
            </div>
            <hr>
          </div>
          <div class="row">
            <div class="small-2 columns">
              <p><strong>8h30-9h30</strong></p>
            </div>
            <div class="small-6 columns">
              <h5>Official opening of the Conference</h5>
              <p>Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
            </div>
            <div class="small-4 columns">
              <p><strong>John Doe:</strong> Secretary General of IOPD</p>
            </div>
            <hr>
          </div>
          <div class="row">
            <div class="small-2 columns">
              <p><strong>17h30-18h00</strong></p>
            </div>
            <div class="small-6 columns">
              <h5>Official closing of the Conference</h5>
              <p>Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
            </div>
            <div class="small-4 columns">
              <p><strong>John Doe:</strong> Secretary General of IOPD</p>
            </div>
            <div class="small-4 columns">
              <p><strong>John Doe:</strong> Secretary General of Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <ul class="accordion" data-accordion>
        <li class="accordion-navigation">
          <a href="#panel1a">April 4</a>
          <div id="panel1a" class="content active">
            <div class="row">
              <div class="small-2 columns">
                <p><strong>8h30-9h30</strong></p>
              </div>
              <div class="small-6 columns">
                <h5>Official opening of the Conference</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
              </div>
              <div class="small-4 columns">
                <p><strong>John Doe:</strong> Secretary General of IOPD</p>
              </div>
              <hr>
            </div>
            <div class="row">
              <div class="small-2 columns">
                <p><strong>8h30-9h30</strong></p>
              </div>
              <div class="small-6 columns">
                <h5>Official opening of the Conference</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
              </div>
              <div class="small-4 columns">
                <p><strong>John Doe:</strong> Secretary General of IOPD</p>
              </div>
              <hr>
            </div>
            <div class="row">
              <div class="small-2 columns">
                <p><strong>8h30-9h30</strong></p>
              </div>
              <div class="small-6 columns">
                <h5>Official opening of the Conference</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
              </div>
              <div class="small-4 columns">
                <p><strong>John Doe:</strong> Secretary General of IOPD</p>
              </div>
              <hr>
            </div>
            <div class="row">
              <div class="small-2 columns">
                <p><strong>17h30-18h00</strong></p>
              </div>
              <div class="small-6 columns">
                <h5>Official closing of the Conference</h5>
                <p>Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
              </div>
              <div class="small-4 columns">
                <p><strong>John Doe:</strong> Secretary General of IOPD</p>
              </div>
              <div class="small-4 columns">
                <p><strong>John Doe:</strong> Secretary General of Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
              </div>
            </div>
          </div>
        </li>
        <li class="accordion-navigation">
          <a href="#panel2a">April 5</a>
          <div id="panel2a" class="content">
            <div class="row">
              <div class="small-2 columns">
                <p><strong>8h30-9h30</strong></p>
              </div>
              <div class="small-6 columns">
                <h5>Official opening of the Conference</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
              </div>
              <div class="small-4 columns">
                <p><strong>John Doe:</strong> Secretary General of IOPD</p>
              </div>
              <hr>
            </div>
            <div class="row">
              <div class="small-2 columns">
                <p><strong>8h30-9h30</strong></p>
              </div>
              <div class="small-6 columns">
                <h5>Official opening of the Conference</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
              </div>
              <div class="small-4 columns">
                <p><strong>John Doe:</strong> Secretary General of IOPD</p>
              </div>
              <hr>
            </div>
            <div class="row">
              <div class="small-2 columns">
                <p><strong>8h30-9h30</strong></p>
              </div>
              <div class="small-6 columns">
                <h5>Official opening of the Conference</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
              </div>
              <div class="small-4 columns">
                <p><strong>John Doe:</strong> Secretary General of IOPD</p>
              </div>
              <hr>
            </div>
            <div class="row">
              <div class="small-2 columns">
                <p><strong>17h30-18h00</strong></p>
              </div>
              <div class="small-6 columns">
                <h5>Official closing of the Conference</h5>
                <p>Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
              </div>
              <div class="small-4 columns">
                <p><strong>John Doe:</strong> Secretary General of IOPD</p>
              </div>
              <div class="small-4 columns">
                <p><strong>John Doe:</strong> Secretary General of Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <footer class="row">
      <hr />
      <div class="large-8 columns">
        <section class="section">
          <h5>S'insicrire à l'infolettre</h5>
          <div class="content" data-slug="panel1">
            <form>
              <div class="row collapse">
                <div>
                  <label class="inline" style="display:none">Nom</label>
                </div>
                <div class="large-12 columns">
                  <input type="text" id="yourName" placeholder="Nom">
                </div>
              </div>
              <div class="row collapse">
                <div>
                  <label class="inline" style="display:none">Adresse courriel</label>
                </div>
                <div class="large-12 columns">
                  <input type="text" id="yourEmail" placeholder="Adresse courriel">
                </div>
              </div>
              <button type="submit" class="radius button">S'inscrire</button>
            </form>
          </div>
        </section>
      </div>
      <div class="large-4 columns">
        <p>Office de consultation publique de Montréal</p>
        <p>1550, rue Metcalfe – Bureau 1414</p>
        <p>Montréal (Québec) H3A 1X6</p>
        <p>Téléphone : 514 872-3568</p>
        <p>Station de métro Peel</p>
      </div>
    </footer>

    <script src="../bower_components/jquery/dist/jquery.min.js"></script>
    <script src="../bower_components/foundation/js/foundation.min.js"></script>
    <script src="../js/oidp.js"></script>
    <script>
      if($(".tab-title a")) {
        $(".tab-title a").on("click", function (event) {
          var target_panel = $(this).attr( "href" );

          $(".tabs-content .content").css("display", "none");
          $( target_panel ).fadeIn(750);
         })
      }
      if($(".accordion li")) {
        $(".accordion li").on("click", "a:eq(0)", function (event) {
           var li_parent = $(this).parent();

           if(li_parent.hasClass('active'))
             $(".accordion dd div.content:visible").slideToggle("normal");
           else {
             $(".accordion li div.content:visible").slideToggle("normal");
             $(this).parent().find(".content").slideToggle("normal");
           }
         })
      };
     </script>
  </body>
</html>
